bemyndigelsesservice/src/main/resources/wsdl/bemyndigelsesservice_2016_01_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:bms20160101="http://nsi.dk/bemyndigelse/2016/01/01/"
                  xmlns:tns="http://nsi.dk/bemyndigelse/2016/01/01/"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  targetNamespace="http://nsi.dk/bemyndigelse/2016/01/01/">
    <wsdl:types>

        <xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
            <xs:include schemaLocation="../schema/2006_01/medcom.xsd"/>
        </xs:schema>

        <xs:schema xmlns:bms20160101="http://nsi.dk/bemyndigelse/2016/01/01/"
                   xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
                   xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/"
                   targetNamespace="http://nsi.dk/bemyndigelse/2016/01/01/" version="2.0">

            <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
                       schemaLocation="../schema/2005_03_18/CPR_PersonCivilRegistrationIdentifier.xsd"/>

            <xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/"
                       schemaLocation="../schema/2005_03_22/CVR_CVRnumberIdentifier.xsd"/>

            <xs:complexType name="Delegation">
                <xs:sequence>
                    <xs:element name="DelegationId" type="bms20160101:DelegationId"/>
                    <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                    <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                    <xs:element name="DelegateeCvr" type="cvr:CVRnumberIdentifierType" minOccurs="0"/>
                    <xs:element name="System" type="bms20160101:DelegatingSystem"/>
                    <xs:element name="Role" type="bms20160101:DelegatingRole"/>
                    <xs:element name="State" type="bms20160101:State"/>
                    <xs:element name="Permission" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
                    <xs:element name="Created" type="bms20160101:CreatedDateTime"/>
                    <xs:element name="EffectiveFrom" type="bms20160101:EffectiveFromDateTime"/>
                    <xs:element name="EffectiveTo" type="bms20160101:EffectiveToDateTime"/>
                    <xs:element name="NotDelegatedPermission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
                    <xs:element name="UndelegatablePermission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DelegatingSystem">
                <xs:sequence>
                    <xs:element name="SystemId" type="bms20160101:SystemId"/>
                    <xs:element name="SystemLongName" type="bms20160101:SystemLongName"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DelegatingRole">
                <xs:sequence>
                    <xs:element name="RoleId" type="bms20160101:RoleId"/>
                    <xs:element name="RoleDescription" type="bms20160101:RoleDescription"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SystemPermission">
                <xs:sequence>
                    <xs:element name="PermissionId" type="bms20160101:PermissionId"/>
                    <xs:element name="PermissionDescription" type="bms20160101:PermissionDescription"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="DelegatablePermission">
                <xs:sequence>
                    <xs:element name="RoleId" type="bms20160101:RoleId"/>
                    <xs:element name="PermissionId" type="bms20160101:PermissionId"/>
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="DelegationId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="SystemId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="SystemLongName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="100"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="RoleId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="RoleDescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="200"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="PermissionId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="PermissionDescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="200"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="State" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:enumeration value="Anmodet"/>
                    <xs:enumeration value="Godkendt"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="CreatedDateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:dateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minInclusive value="2000-01-01T00:00:00Z"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="EffectiveFromDateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:dateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minInclusive value="2000-01-01T00:00:00Z"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:simpleType name="EffectiveToDateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:restriction base="xs:dateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:minInclusive value="2000-01-01T00:00:00Z"/>
                </xs:restriction>
            </xs:simpleType>

            <xs:element name="PutMetadataRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Domain" type="bms20160101:Domain"/>
                        <xs:element name="SystemId" type="bms20160101:SystemId"/>
                        <xs:element name="SystemLongName" type="bms20160101:SystemLongName"/>
                        <xs:element name="Role" maxOccurs="unbounded" type="bms20160101:DelegatingRole"/>
                        <xs:element name="EnableAsteriskPermission" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
                        <xs:element name="Permission"  minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
                        <xs:element name="DelegatablePermission"  minOccurs="0" maxOccurs="unbounded" type="bms20160101:DelegatablePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="PutMetadataResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetMetadataRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element name="Domain" type="bms20160101:Domain"/>
                        <xs:element name="SystemId" type="bms20160101:SystemId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetMetadataResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element name="Domain" type="bms20160101:Domain"/>
                        <xs:element name="System" type="bms20160101:DelegatingSystem"/>
                        <xs:element name="Role" minOccurs="0" maxOccurs="unbounded" type="bms20160101:DelegatingRole"/>
                        <xs:element name="EnableAsteriskPermission" type="xs:boolean"/>
                        <xs:element name="Permission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
                        <xs:element name="DelegatablePermission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:DelegatablePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="CreateDelegationsRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element maxOccurs="10" minOccurs="1" name="Create"
                                    xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                                    <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                                    <xs:element name="DelegateeCvr" type="cvr:CVRnumberIdentifierType"
                                                xmlns:xs="http://www.w3.org/2001/XMLSchema" minOccurs="0"/>
                                    <xs:element name="SystemId" type="bms20160101:SystemId"/>
                                    <xs:element name="RoleId" type="bms20160101:RoleId"/>
                                    <xs:element name="State" type="bms20160101:State"/>
                                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ListOfPermissionIds">
                                        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                                <xs:element minOccurs="1" maxOccurs="unbounded" name="PermissionId"
                                                            type="bms20160101:PermissionId"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element minOccurs="0" maxOccurs="1" name="EffectiveFrom" type="bms20160101:EffectiveFromDateTime"/>
                                    <xs:element minOccurs="0" maxOccurs="1" name="EffectiveTo" type="bms20160101:EffectiveToDateTime"/>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="CreateDelegationsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element maxOccurs="unbounded" name="Delegation" type="bms20160101:Delegation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetDelegationsRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:choice xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                        <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                        <xs:element name="DelegationId" type="bms20160101:DelegationId"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>

            <xs:element name="GetDelegationsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element minOccurs="0"  maxOccurs="unbounded" name="Delegation" type="bms20160101:Delegation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="DeleteDelegationsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                            <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                        </xs:choice>
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ListOfDelegationIds">
                            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    <xs:element minOccurs="1" maxOccurs="unbounded" name="DelegationId"
                                                type="bms20160101:DelegationId"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="DeletionDate" type="bms20160101:EffectiveToDateTime" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="DeleteDelegationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DelegationId" type="bms20160101:DelegationId" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="PutMetadataRequest_2016_01_01">
        <wsdl:part element="bms20160101:PutMetadataRequest" name="PutMetadataRequest"/>
    </wsdl:message>
    <wsdl:message name="PutMetadataResponse_2016_01_01">
        <wsdl:part element="bms20160101:PutMetadataResponse" name="PutMetadataResponse"/>
    </wsdl:message>
    <wsdl:message name="GetMetadataRequest_2016_01_01">
        <wsdl:part element="bms20160101:GetMetadataRequest" name="GetMetadataRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMetadataResponse_2016_01_01">
        <wsdl:part element="bms20160101:GetMetadataResponse" name="GetMetadataResponse"/>
    </wsdl:message>
    <wsdl:message name="GetDelegationsRequest_2016_01_01">
        <wsdl:part element="bms20160101:GetDelegationsRequest" name="GetDelegationsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDelagationsResponse_2016_01_01">
        <wsdl:part element="bms20160101:GetDelegationsResponse" name="GetDelegationsResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateDelegationsRequest_2016_01_01">
        <wsdl:part element="bms20160101:CreateDelegationsRequest" name="CreateDelegationsRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateDelegationsResponse_2016_01_01">
        <wsdl:part element="bms20160101:CreateDelegationsResponse" name="CreateDelegationsResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteDelegationsRequest_2016_01_01">
        <wsdl:part element="bms20160101:DeleteDelegationsRequest" name="DeleteDelegationsRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteDelegationsResponse_2016_01_01">
        <wsdl:part element="bms20160101:DeleteDelegationsResponse" name="DeleteDelegationsResponse"/>
    </wsdl:message>


    <wsdl:message name="DGWSFault">
        <wsdl:part name="fault" element="medcom:FaultCode" />
    </wsdl:message>

    <wsdl:portType name="DelegationPortType">
        <wsdl:operation name="PutMetadata_2016_01_01">
            <wsdl:input message="tns:PutMetadataRequest_2016_01_01" name="PutMetadataRequest_2016_01_01"/>
            <wsdl:output message="tns:PutMetadataResponse_2016_01_01" name="PutMetadataResponse_2016_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
        </wsdl:operation>
        <wsdl:operation name="GetMetadata_2016_01_01">
            <wsdl:input message="tns:GetMetadataRequest_2016_01_01" name="GetMetadataRequest_2016_01_01"/>
            <wsdl:output message="tns:GetMetadataResponse_2016_01_01" name="GetMetadataResponse_2016_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
        </wsdl:operation>
        <wsdl:operation name="GetDelegations_2016_01_01">
            <wsdl:input message="tns:GetDelegationsRequest_2016_01_01" name="GetDelegationsRequest_2016_01_01"/>
            <wsdl:output message="tns:GetDelagationsResponse_2016_01_01" name="GetDelagationsResponse_2016_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
        </wsdl:operation>
        <wsdl:operation name="CreateDelegations_2016_01_01">
            <wsdl:input message="tns:CreateDelegationsRequest_2016_01_01" name="CreateDelegationsRequest_2016_01_01"/>
            <wsdl:output message="tns:CreateDelegationsResponse_2016_01_01" name="CreateDelegationsResponse_2016_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
        </wsdl:operation>
        <wsdl:operation name="DeleteDelegations_2016_01_01">
            <wsdl:input message="tns:DeleteDelegationsRequest_2016_01_01" name="DeleteDelegationsRequest_2016_01_01"/>
            <wsdl:output message="tns:DeleteDelegationsResponse_2016_01_01" name="DeleteDelegationsResponse_2016_01_01"/>
            <wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DelegationBinding" type="tns:DelegationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="PutMetadata_2016_01_01">
            <soap:operation soapAction="http://nsi.dk/bemyndigelse/2016/01/01#PutMetadata"
                            style="document"/>
            <wsdl:input name="PutMetadataRequest_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PutMetadataResponse_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetMetadata_2016_01_01">
            <soap:operation soapAction="http://nsi.dk/bemyndigelse/2016/01/01#GetMetadata"/>
            <wsdl:input name="GetMetadataRequest_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetMetadataResponse_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="GetDelegations_2016_01_01">
            <soap:operation soapAction="http://nsi.dk/bemyndigelse/2016/01/01#GetDelegations"/>
            <wsdl:input name="GetDelegationsRequest_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDelegationsResponse_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="CreateDelegations_2016_01_01">
            <soap:operation soapAction="http://nsi.dk/bemyndigelse/2016/01/01#CreateDelegations"/>
            <wsdl:input name="CreateDelegationsRequest_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateDelegationsResponse_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="DeleteDelegations_2016_01_01">
            <soap:operation soapAction="http://nsi.dk/bemyndigelse/2016/01/01#DeleteDelegations"/>
            <wsdl:input name="DeleteDelegationsRequest_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteDelegationsResponse_2016_01_01">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DGWSFault">
                <soap:fault name="DGWSFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DelegationService">
        <wsdl:port name="DelegationPort" binding="tns:DelegationBinding">
            <soap:address location="http://localhost:8080/BemyndigelsesService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>