bemyndigelsesservice/src/main/resources/wsdl/bemyndigelsesservice_2017_08_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE definitions [
<!ENTITY bemStandardSOAPRequestHeaders "
                <soap:header use='literal' part='SecurityHeader' message='tns:SecurityHeader' />
                <soap:header use='literal' part='MedcomHeader' message='tns:MedComHeader' />
">
]>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:bms20170801="http://nsi.dk/bemyndigelse/2017/08/01/"
                  xmlns:tns="http://nsi.dk/bemyndigelse/2017/08/01/"
                  xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd"
                  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                  targetNamespace="http://nsi.dk/bemyndigelse/2017/08/01/">

	<wsdl:types>
		<xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
			<xs:include schemaLocation="../schema/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd/oasis-200401_orig-wss-wssecurity-secext-1.0.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="urn:oasis:names:tc:SAML:2.0:assertion">
			<xs:include schemaLocation="../schema/urn_oasis_names_tc_SAML_2.0_assertion/saml-schema-assertion-2.0.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://nsi.dk/bemyndigelse/2017/08/01/">
			<xs:include schemaLocation="../schema/2017_08_01/bemyndigelsesservice.xsd"/>
		</xs:schema>
		<xs:schema targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
			<xs:include schemaLocation="../schema/2006_01/medcom.xsd"/>
		</xs:schema>
	</wsdl:types>

    <wsdl:message name="SecurityHeader">
        <wsdl:part name="SecurityHeader" element="wsse:Security"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part name="MedcomHeader" element="medcom:Header"/>
    </wsdl:message>

	<wsdl:message name="PutMetadataRequest_2017_08_01">
		<wsdl:part element="bms20170801:PutMetadataRequest" name="PutMetadataRequest"/>
	</wsdl:message>
	<wsdl:message name="PutMetadataResponse_2017_08_01">
		<wsdl:part element="bms20170801:PutMetadataResponse" name="PutMetadataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataRequest_2017_08_01">
		<wsdl:part element="bms20170801:GetMetadataRequest" name="GetMetadataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataResponse_2017_08_01">
		<wsdl:part element="bms20170801:GetMetadataResponse" name="GetMetadataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDelegationsRequest_2017_08_01">
		<wsdl:part element="bms20170801:GetDelegationsRequest" name="GetDelegationsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDelegationsResponse_2017_08_01">
		<wsdl:part element="bms20170801:GetDelegationsResponse" name="GetDelegationsResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateDelegationsRequest_2017_08_01">
		<wsdl:part element="bms20170801:CreateDelegationsRequest" name="CreateDelegationsRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateDelegationsResponse_2017_08_01">
		<wsdl:part element="bms20170801:CreateDelegationsResponse" name="CreateDelegationsResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteDelegationsRequest_2017_08_01">
		<wsdl:part element="bms20170801:DeleteDelegationsRequest" name="DeleteDelegationsRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteDelegationsResponse_2017_08_01">
		<wsdl:part element="bms20170801:DeleteDelegationsResponse" name="DeleteDelegationsResponse"/>
	</wsdl:message>

	<wsdl:message name="DGWSFault">
		<wsdl:part name="fault" element="medcom:FaultCode" />
	</wsdl:message>

	<wsdl:portType name="DelegationPortType">
		<wsdl:operation name="PutMetadata_2017_08_01">
			<wsdl:input message="tns:PutMetadataRequest_2017_08_01" name="PutMetadataRequest_2017_08_01"/>
			<wsdl:output message="tns:PutMetadataResponse_2017_08_01" name="PutMetadataResponse_2017_08_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
		</wsdl:operation>
		<wsdl:operation name="GetMetadata_2017_08_01">
			<wsdl:input message="tns:GetMetadataRequest_2017_08_01" name="GetMetadataRequest_2017_08_01"/>
			<wsdl:output message="tns:GetMetadataResponse_2017_08_01" name="GetMetadataResponse_2017_08_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
		</wsdl:operation>
		<wsdl:operation name="GetDelegations_2017_08_01">
			<wsdl:input message="tns:GetDelegationsRequest_2017_08_01" name="GetDelegationsRequest_2017_08_01"/>
			<wsdl:output message="tns:GetDelegationsResponse_2017_08_01" name="GetDelegationsResponse_2017_08_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
		</wsdl:operation>
		<wsdl:operation name="CreateDelegations_2017_08_01">
			<wsdl:input message="tns:CreateDelegationsRequest_2017_08_01" name="CreateDelegationsRequest_2017_08_01"/>
			<wsdl:output message="tns:CreateDelegationsResponse_2017_08_01" name="CreateDelegationsResponse_2017_08_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
		</wsdl:operation>
		<wsdl:operation name="DeleteDelegations_2017_08_01">
			<wsdl:input message="tns:DeleteDelegationsRequest_2017_08_01" name="DeleteDelegationsRequest_2017_08_01"/>
			<wsdl:output message="tns:DeleteDelegationsResponse_2017_08_01" name="DeleteDelegationsResponse_2017_08_01"/>
			<wsdl:fault name="DGWSFault" message="tns:DGWSFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DelegationBinding" type="tns:DelegationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="PutMetadata_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#PutMetadata"
                            style="document"/>
			<wsdl:input name="PutMetadataRequest_2017_08_01">
&bemStandardSOAPRequestHeaders;
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PutMetadataResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetMetadata_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#GetMetadata"/>
			<wsdl:input name="GetMetadataRequest_2017_08_01">
&bemStandardSOAPRequestHeaders;
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetMetadataResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetDelegations_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#GetDelegations"/>
			<wsdl:input name="GetDelegationsRequest_2017_08_01">
&bemStandardSOAPRequestHeaders;
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetDelegationsResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreateDelegations_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#CreateDelegations"/>
			<wsdl:input name="CreateDelegationsRequest_2017_08_01">
&bemStandardSOAPRequestHeaders;
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateDelegationsResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="DeleteDelegations_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#DeleteDelegations"/>
			<wsdl:input name="DeleteDelegationsRequest_2017_08_01">
&bemStandardSOAPRequestHeaders;
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteDelegationsResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DelegationService">
		<wsdl:port name="DelegationPort" binding="tns:DelegationBinding">
			<soap:address location="http://localhost:8080/BemyndigelsesService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>