bemyndigelsesservice/src/main/resources/schema/2016_01_01/bemyndigelsesservice.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="2.0" targetNamespace="http://nsi.dk/bemyndigelse/2016/01/01/"
           xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
           xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/"
           xmlns:bms20160101="http://nsi.dk/bemyndigelse/2016/01/01/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"
               schemaLocation="../2005_03_18/CPR_PersonCivilRegistrationIdentifier.xsd"/>
    <xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/"
               schemaLocation="../2005_03_22/CVR_CVRnumberIdentifier.xsd"/>

    <xs:complexType name="Delegation">
        <xs:sequence>
            <xs:element name="DelegationId" type="bms20160101:DelegationId"/>
            <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
            <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
            <xs:element name="DelegateeCvr" type="cvr:CVRnumberIdentifierType" minOccurs="0"/>
            <xs:element name="System" type="bms20160101:DelegatingSystem"/>
            <xs:element name="Role" type="bms20160101:DelegatingRole"/>
            <xs:element name="State" type="bms20160101:State"/>
            <xs:element name="Permission" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
            <xs:element name="Created" type="bms20160101:CreatedDateTime"/>
            <xs:element name="EffectiveFrom" type="bms20160101:EffectiveFromDateTime"/>
            <xs:element name="EffectiveTo" type="bms20160101:EffectiveToDateTime"/>
            <xs:element name="NotDelegatedPermission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
            <xs:element name="UndelegatablePermission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DelegatingSystem">
        <xs:sequence>
            <xs:element name="SystemId" type="bms20160101:SystemId"/>
            <xs:element name="SystemLongName" type="bms20160101:SystemLongName"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DelegatingRole">
        <xs:sequence>
            <xs:element name="RoleId" type="bms20160101:RoleId"/>
            <xs:element name="RoleDescription" type="bms20160101:RoleDescription"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SystemPermission">
        <xs:sequence>
            <xs:element name="PermissionId" type="bms20160101:PermissionId"/>
            <xs:element name="PermissionDescription" type="bms20160101:PermissionDescription"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DelegatablePermission">
        <xs:sequence>
            <xs:element name="RoleId" type="bms20160101:RoleId"/>
            <xs:element name="PermissionId" type="bms20160101:PermissionId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DelegationId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SystemId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SystemLongName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RoleId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RoleDescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PermissionId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PermissionDescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="State" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:enumeration value="Bestilt"/>
            <xs:enumeration value="Godkendt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CreatedDateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:dateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minInclusive value="2000-01-01T00:00:00Z"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EffectiveFromDateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:dateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minInclusive value="2000-01-01T00:00:00Z"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EffectiveToDateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:dateTime"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minInclusive value="2000-01-01T00:00:00Z"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="PutMetadataRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Domain" type="bms20160101:Domain"/>
                <xs:element name="SystemId" type="bms20160101:SystemId"/>
                <xs:element name="SystemLongName" type="bms20160101:SystemLongName"/>
                <xs:element name="Role" maxOccurs="unbounded" type="bms20160101:DelegatingRole"/>
                <xs:element name="EnableAsteriskPermission" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
                <xs:element name="Permission"  minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
                <xs:element name="DelegatablePermission"  minOccurs="0" maxOccurs="unbounded" type="bms20160101:DelegatablePermission"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PutMetadataResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetMetadataRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="Domain" type="bms20160101:Domain"/>
                <xs:element name="SystemId" type="bms20160101:SystemId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetMetadataResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="Domain" type="bms20160101:Domain"/>
                <xs:element name="System" type="bms20160101:DelegatingSystem"/>
                <xs:element name="Role" minOccurs="0" maxOccurs="unbounded" type="bms20160101:DelegatingRole"/>
                <xs:element name="EnableAsteriskPermission" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
                <xs:element name="Permission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:SystemPermission"/>
                <xs:element name="DelegatablePermission" minOccurs="0" maxOccurs="unbounded" type="bms20160101:DelegatablePermission"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateDelegationsRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element maxOccurs="10" minOccurs="1" name="Create"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                            <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                            <xs:element name="DelegateeCvr" type="cvr:CVRnumberIdentifierType"
                                        xmlns:xs="http://www.w3.org/2001/XMLSchema" minOccurs="0"/>
                            <xs:element name="SystemId" type="bms20160101:SystemId"/>
                            <xs:element name="RoleId" type="bms20160101:RoleId"/>
                            <xs:element name="State" type="bms20160101:State"/>
                            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ListOfPermissionIds">
                                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                        <xs:element minOccurs="1" maxOccurs="unbounded" name="PermissionId"
                                                    type="bms20160101:PermissionId"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="EffectiveFrom" type="bms20160101:EffectiveFromDateTime"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="EffectiveTo" type="bms20160101:EffectiveToDateTime"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateDelegationsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element maxOccurs="unbounded" name="Delegation" type="bms20160101:Delegation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetDelegationsRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:choice xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                <xs:element name="DelegationId" type="bms20160101:DelegationId"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetDelegationsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element minOccurs="0"  maxOccurs="unbounded" name="Delegation" type="bms20160101:Delegation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteDelegationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:choice xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                    <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                </xs:choice>
                <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ListOfDelegationIds">
                    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="DelegationId"
                                        type="bms20160101:DelegationId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DeletionDate" type="bms20160101:EffectiveToDateTime" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteDelegationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DelegationId" type="bms20160101:DelegationId" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
