schemas/src/main/resources/wsdl/bemyndigelsesservice-inline_2017_08_01.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:bms20170801="http://nsi.dk/bemyndigelse/2017/08/01/" xmlns:medcom="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://nsi.dk/bemyndigelse/2017/08/01/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nsi.dk/bemyndigelse/2017/08/01/">

	<wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd">
  <xs:element name="Linking">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="medcom:FlowID"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="medcom:MessageID"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="medcom:InResponseToMessageID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowID" type="xs:string"/>
  <xs:element name="MessageID" type="xs:string"/>
  <xs:element name="InResponseToMessageID" type="xs:string"/>
  <xs:element name="Priority">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="AKUT"/>
        <xs:enumeration value="HASTER"/>
        <xs:enumeration value="RUTINE"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RequireNonRepudiationReceipt">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="yes"/>
        <xs:enumeration value="no"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FlowStatus">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="flow_running"/>
		<xs:enumeration value="flow_finalized_succesfully"/>
		<xs:enumeration value="syntax_error"/>
		<xs:enumeration value="missing_required_header"/>
		<xs:enumeration value="security_level_failed"/>
		<xs:enumeration value="invalid_username_password"/>
		<xs:enumeration value="invalid_signature"/>
		<xs:enumeration value="invalid_idcard"/>
		<xs:enumeration value="invalid_certificate"/>
		<xs:enumeration value="expired_idcard"/>
		<xs:enumeration value="not_authorized"/>
		<xs:enumeration value="illegal_http_method"/>
		<xs:enumeration value="processing_problem"/>
		<xs:enumeration value="signature_not_supported"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SecurityLevel">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="4"/>
        <xs:enumeration value="5"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TimeOut">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="5"/>
        <xs:enumeration value="30"/>
        <xs:enumeration value="480"/>
        <xs:enumeration value="1440"/>
        <xs:enumeration value="unbound"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" ref="medcom:SecurityLevel"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="medcom:TimeOut"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="medcom:Linking"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="medcom:FlowStatus"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="medcom:Priority"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="medcom:RequireNonRepudiationReceipt"/>
      </xs:sequence>
      <!-- Added by SEAL -->
	  <xs:anyAttribute namespace="##other" processContents="lax"/>  
    </xs:complexType>
  </xs:element>
  <xs:element name="FaultCode" type="xs:string"/>
</xs:schema>
    <xs:schema xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PersonCivilRegistrationIdentifier" type="cpr:PersonCivilRegistrationIdentifierType">
        <xs:annotation>
            <xs:documentation>
                CivilRegistrationNumber (PNR)

                Description:
                Unique identification of a person

                The Civil Registration System contains:
                - Data on persons, who after 1968 April 2nd Danish registry of citizens.
                As for Greenland the corresponding date is 1972 may 1st.
                - Danish citizens living outside Denmark (who must pay duty and ATP)
                has also been given a civil registration number.
                - Civil registration numbers are also assigned for other administrative purposes.


                Value space:
                The civil registration number consists of two parts.
                The first part is the valid birthday in the form DDMMYY.
                The following part is a serial number of four digits.
                The civil registration number may also hold the value 0000000000.
                This value is used where the civil registration number is required but unknown.

                Lifecycle:
                The civil registration number is generated and assigned at birth, entry and change of civil registration
                number of for administrative reasons.
                The civil registration number may be assigned via hospitals.

                The civil registration number is not to be deleted.

                Remarks:
                1994 June 11th the civil registration number was changed according to this description.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="PersonCivilRegistrationIdentifierType">
        <xs:restriction base="xs:string">
            <xs:pattern value="((((0[1-9]|1[0-9]|2[0-9]|3[0-1])(01|03|05|07|08|10|12))|((0[1-9]|1[0-9]|2[0-9]|30)(04|06|09|11))|((0[1-9]|1[0-9]|2[0-9])(02)))[0-9]{6})|0000000000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
    <xs:schema xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CVRnumberIdentifier" type="cvr:CVRnumberIdentifierType">
        <xs:annotation>
            <xs:documentation>Unique and generally usable identifier for all legal units included i CVR.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="CVRnumberIdentifierType">
        <xs:restriction base="xs:string">
            <xs:length value="8"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
    <xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 

<!-- Basic Types Defined for Signatures -->

<xs:simpleType name="CryptoBinary">
  <xs:restriction base="xs:base64Binary">
  </xs:restriction>
</xs:simpleType>

<!-- Start Signature -->

<xs:element name="Signature" type="ds:SignatureType"/>
<xs:complexType name="SignatureType">
  <xs:sequence> 
    <xs:element ref="ds:SignedInfo"/> 
    <xs:element ref="ds:SignatureValue"/> 
    <xs:element minOccurs="0" ref="ds:KeyInfo"/> 
    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ds:Object"/> 
  </xs:sequence>  
  <xs:attribute name="Id" type="xs:ID" use="optional"/>
  <!-- Note: Added optional id attribute in order to allow dgws assertions -->
  <xs:attribute name="id_renamed" type="xs:NCName" use="optional"/>
</xs:complexType>

  <xs:element name="SignatureValue" type="ds:SignatureValueType"/> 
  <xs:complexType name="SignatureValueType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="Id" type="xs:ID" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- Start SignedInfo -->

<xs:element name="SignedInfo" type="ds:SignedInfoType"/>
<xs:complexType name="SignedInfoType">
  <xs:sequence> 
    <xs:element ref="ds:CanonicalizationMethod"/> 
    <xs:element ref="ds:SignatureMethod"/> 
    <xs:element maxOccurs="unbounded" ref="ds:Reference"/> 
  </xs:sequence>  
  <xs:attribute name="Id" type="xs:ID" use="optional"/> 
</xs:complexType>

  <xs:element name="CanonicalizationMethod" type="ds:CanonicalizationMethodType"/> 
  <xs:complexType mixed="true" name="CanonicalizationMethodType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
      <!-- (0,unbounded) elements from (1,1) namespace -->
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/> 
  </xs:complexType>

  <xs:element name="SignatureMethod" type="ds:SignatureMethodType"/>
  <xs:complexType mixed="true" name="SignatureMethodType">
    <xs:sequence>
      <xs:element minOccurs="0" name="HMACOutputLength" type="ds:HMACOutputLengthType"/>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
      <!-- (0,unbounded) elements from (1,1) external namespace -->
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/> 
  </xs:complexType>

<!-- Start Reference -->

<xs:element name="Reference" type="ds:ReferenceType"/>
<xs:complexType name="ReferenceType">
  <xs:sequence> 
    <xs:element minOccurs="0" ref="ds:Transforms"/> 
    <xs:element ref="ds:DigestMethod"/> 
    <xs:element ref="ds:DigestValue"/> 
  </xs:sequence>
  <xs:attribute name="Id" type="xs:ID" use="optional"/> 
  <xs:attribute name="URI" type="xs:anyURI" use="optional"/> 
  <xs:attribute name="Type" type="xs:anyURI" use="optional"/> 
</xs:complexType>

  <xs:element name="Transforms" type="ds:TransformsType"/>
  <xs:complexType name="TransformsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ds:Transform"/>  
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Transform" type="ds:TransformType"/>
  <xs:complexType mixed="true" name="TransformType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"> 
      <xs:any namespace="##other" processContents="lax"/>
      <!-- (1,1) elements from (0,unbounded) namespaces -->
      <xs:element name="XPath" type="xs:string"/> 
    </xs:choice>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/> 
  </xs:complexType>

<!-- End Reference -->

<xs:element name="DigestMethod" type="ds:DigestMethodType"/>
<xs:complexType mixed="true" name="DigestMethodType"> 
  <xs:sequence>
    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
  </xs:sequence>    
  <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/> 
</xs:complexType>

<xs:element name="DigestValue" type="ds:DigestValueType"/>
<xs:simpleType name="DigestValueType">
  <xs:restriction base="xs:base64Binary"/>
</xs:simpleType>

<!-- End SignedInfo -->

<!-- Start KeyInfo -->

<xs:element name="KeyInfo" type="ds:KeyInfoType"/> 
<xs:complexType mixed="true" name="KeyInfoType">
  <xs:choice maxOccurs="unbounded">     
    <xs:element ref="ds:KeyName"/> 
    <xs:element ref="ds:KeyValue"/> 
    <xs:element ref="ds:RetrievalMethod"/> 
    <xs:element ref="ds:X509Data"/> 
    <xs:element ref="ds:PGPData"/> 
    <xs:element ref="ds:SPKIData"/>
    <xs:element ref="ds:MgmtData"/>
    <xs:any namespace="##other" processContents="lax"/>
    <!-- (1,1) elements from (0,unbounded) namespaces -->
  </xs:choice>
  <xs:attribute name="Id" type="xs:ID" use="optional"/> 
</xs:complexType>

  <xs:element name="KeyName" type="xs:string"/>
  <xs:element name="MgmtData" type="xs:string"/>

  <xs:element name="KeyValue" type="ds:KeyValueType"/> 
  <xs:complexType mixed="true" name="KeyValueType">
   <xs:choice>
     <xs:element ref="ds:DSAKeyValue"/>
     <xs:element ref="ds:RSAKeyValue"/>
     <xs:any namespace="##other" processContents="lax"/>
   </xs:choice>
  </xs:complexType>

  <xs:element name="RetrievalMethod" type="ds:RetrievalMethodType"/> 
  <xs:complexType name="RetrievalMethodType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ds:Transforms"/> 
    </xs:sequence>  
    <xs:attribute name="URI" type="xs:anyURI"/>
    <xs:attribute name="Type" type="xs:anyURI" use="optional"/>
  </xs:complexType>

<!-- Start X509Data -->

<xs:element name="X509Data" type="ds:X509DataType"/> 
<xs:complexType name="X509DataType">
  <xs:sequence maxOccurs="unbounded">
    <xs:choice>
      <xs:element name="X509IssuerSerial" type="ds:X509IssuerSerialType"/>
      <xs:element name="X509SKI" type="xs:base64Binary"/>
      <xs:element name="X509SubjectName" type="xs:string"/>
      <xs:element name="X509Certificate" type="xs:base64Binary"/>
      <xs:element name="X509CRL" type="xs:base64Binary"/>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:choice>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="X509IssuerSerialType"> 
  <xs:sequence> 
    <xs:element name="X509IssuerName" type="xs:string"/> 
    <xs:element name="X509SerialNumber" type="xs:integer"/> 
  </xs:sequence>
</xs:complexType>

<!-- End X509Data -->

<!-- Begin PGPData -->

<xs:element name="PGPData" type="ds:PGPDataType"/> 
<xs:complexType name="PGPDataType"> 
  <xs:choice>
    <xs:sequence>
      <xs:element name="PGPKeyID" type="xs:base64Binary"/> 
      <xs:element minOccurs="0" name="PGPKeyPacket" type="xs:base64Binary"/> 
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
    <xs:sequence>
      <xs:element name="PGPKeyPacket" type="xs:base64Binary"/> 
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:choice>
</xs:complexType>

<!-- End PGPData -->

<!-- Begin SPKIData -->

<xs:element name="SPKIData" type="ds:SPKIDataType"/> 
<xs:complexType name="SPKIDataType">
  <xs:sequence maxOccurs="unbounded">
    <xs:element name="SPKISexp" type="xs:base64Binary"/>
    <xs:any minOccurs="0" namespace="##other" processContents="lax"/>
  </xs:sequence>
</xs:complexType> 

<!-- End SPKIData -->

<!-- End KeyInfo -->

<!-- Start Object (Manifest, SignatureProperty) -->

<xs:element name="Object" type="ds:ObjectType"/> 
<xs:complexType mixed="true" name="ObjectType">
  <xs:sequence maxOccurs="unbounded" minOccurs="0">
    <xs:any namespace="##any" processContents="lax"/>
  </xs:sequence>
  <xs:attribute name="Id" type="xs:ID" use="optional"/> 
  <xs:attribute name="MimeType" type="xs:string" use="optional"/> <!-- add a grep facet -->
  <xs:attribute name="Encoding" type="xs:anyURI" use="optional"/> 
</xs:complexType>

<xs:element name="Manifest" type="ds:ManifestType"/> 
<xs:complexType name="ManifestType">
  <xs:sequence>
    <xs:element maxOccurs="unbounded" ref="ds:Reference"/> 
  </xs:sequence>
  <xs:attribute name="Id" type="xs:ID" use="optional"/> 
</xs:complexType>

<xs:element name="SignatureProperties" type="ds:SignaturePropertiesType"/> 
<xs:complexType name="SignaturePropertiesType">
  <xs:sequence>
    <xs:element maxOccurs="unbounded" ref="ds:SignatureProperty"/> 
  </xs:sequence>
  <xs:attribute name="Id" type="xs:ID" use="optional"/> 
</xs:complexType>

   <xs:element name="SignatureProperty" type="ds:SignaturePropertyType"/> 
   <xs:complexType mixed="true" name="SignaturePropertyType">
     <xs:choice maxOccurs="unbounded">
       <xs:any namespace="##other" processContents="lax"/>
       <!-- (1,1) elements from (1,unbounded) namespaces -->
     </xs:choice>
     <xs:attribute name="Target" type="xs:anyURI" use="required"/> 
     <xs:attribute name="Id" type="xs:ID" use="optional"/> 
   </xs:complexType>

<!-- End Object (Manifest, SignatureProperty) -->

<!-- Start Algorithm Parameters -->

<xs:simpleType name="HMACOutputLengthType">
  <xs:restriction base="xs:integer"/>
</xs:simpleType>

<!-- Start KeyValue Element-types -->

<xs:element name="DSAKeyValue" type="ds:DSAKeyValueType"/>
<xs:complexType name="DSAKeyValueType">
  <xs:sequence>
    <xs:sequence minOccurs="0">
      <xs:element name="P" type="ds:CryptoBinary"/>
      <xs:element name="Q" type="ds:CryptoBinary"/>
    </xs:sequence>
    <xs:element minOccurs="0" name="G" type="ds:CryptoBinary"/>
    <xs:element name="Y" type="ds:CryptoBinary"/>
    <xs:element minOccurs="0" name="J" type="ds:CryptoBinary"/>
    <xs:sequence minOccurs="0">
      <xs:element name="Seed" type="ds:CryptoBinary"/>
      <xs:element name="PgenCounter" type="ds:CryptoBinary"/>
    </xs:sequence>
  </xs:sequence>
</xs:complexType>

<xs:element name="RSAKeyValue" type="ds:RSAKeyValueType"/>
<xs:complexType name="RSAKeyValueType">
  <xs:sequence>
    <xs:element name="Modulus" type="ds:CryptoBinary"/> 
    <xs:element name="Exponent" type="ds:CryptoBinary"/> 
  </xs:sequence>
</xs:complexType> 

<!-- End KeyValue Element-types -->

<!-- End Signature -->

</xs:schema>
    <xs:schema xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- // Fault Codes /////////////////////////////////////////// -->
	<xs:simpleType name="tTimestampFault">
		<xs:annotation>
			<xs:documentation>
This type defines the fault code value for Timestamp message expiration.
          </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:QName">
			<xs:enumeration value="wsu:MessageExpired"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- // Global attributes //////////////////////////////////// -->
	<xs:attribute name="Id" type="xs:ID">
		<xs:annotation>
			<xs:documentation>
This global attribute supports annotating arbitrary elements with an ID.
          </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attributeGroup name="commonAtts">
		<xs:annotation>
			<xs:documentation>
Convenience attribute group used to simplify this schema.
          </xs:documentation>
		</xs:annotation>
		<xs:attribute ref="wsu:Id" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:attributeGroup>
	<!-- // Utility types //////////////////////////////////////// -->
	<xs:complexType name="AttributedDateTime">
		<xs:annotation>
			<xs:documentation>
This type is for elements whose [children] is a psuedo-dateTime and can have arbitrary attributes. 
      </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="wsu:commonAtts"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AttributedURI">
		<xs:annotation>
			<xs:documentation>
This type is for elements whose [children] is an anyURI and can have arbitrary attributes.
      </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="wsu:commonAtts"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- // Timestamp header components /////////////////////////// -->
	<xs:complexType name="TimestampType">
		<xs:annotation>
			<xs:documentation>
This complex type ties together the timestamp related elements into a composite type.
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" ref="wsu:Created"/>
			<xs:element minOccurs="0" ref="wsu:Expires"/>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:any namespace="##other" processContents="lax"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="wsu:commonAtts"/>
	</xs:complexType>
	<xs:element name="Timestamp" type="wsu:TimestampType">
		<xs:annotation>
			<xs:documentation>
This element allows Timestamps to be applied anywhere element wildcards are present,
including as a SOAP header.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- global element decls to allow individual elements to appear anywhere -->
	<xs:element name="Expires" type="wsu:AttributedDateTime">
		<xs:annotation>
			<xs:documentation>
This element allows an expiration time to be applied anywhere element wildcards are present.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Created" type="wsu:AttributedDateTime">
		<xs:annotation>
			<xs:documentation>
This element allows a creation time to be applied anywhere element wildcards are present.
            </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
    <xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:SAML:2.0:assertion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2001/04/xmlenc#"/>
      <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
        
    
    
    
    <xs:annotation>
        <xs:documentation>
            Document identifier: saml-schema-assertion-2.0 Location: http://docs.oasis-open.org/security/saml/v2.0/
            Revision history: V1.0 (November, 2002): Initial Standard Schema. V1.1 (September, 2003): Updates within the
            same V1.0 namespace. V2.0 (March, 2005): New assertion schema for SAML V2.0 namespace.
        </xs:documentation>
    </xs:annotation>
    <xs:attributeGroup name="IDNameQualifiers">
        <xs:attribute name="NameQualifier" type="xs:string" use="optional"/>
        <xs:attribute name="SPNameQualifier" type="xs:string" use="optional"/>
    </xs:attributeGroup>
    <xs:element name="BaseID" type="saml:BaseIDAbstractType"/>
    <xs:complexType abstract="true" name="BaseIDAbstractType">
        <xs:attributeGroup ref="saml:IDNameQualifiers"/>
    </xs:complexType>
    <xs:element name="NameID" type="saml:NameIDType"/>
    <xs:complexType name="NameIDType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="saml:IDNameQualifiers"/>
                <xs:attribute name="Format" type="xs:anyURI" use="optional"/>
                <xs:attribute name="SPProvidedID" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EncryptedElementType">
        <xs:sequence>
            <xs:element ref="xenc:EncryptedData"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="xenc:EncryptedKey"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EncryptedID" type="saml:EncryptedElementType"/>
    <xs:element name="Issuer" type="saml:NameIDType"/>
    <xs:element name="AssertionIDRef" type="xs:NCName"/>
    <xs:element name="AssertionURIRef" type="xs:anyURI"/>
    <xs:element name="Assertion" type="saml:AssertionType"/>
    <xs:complexType name="AssertionType">
    	<!-- Note: Loosened up in order to allow dgws-assertions -->
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="saml:Issuer"/>
            <xs:element ref="ds:Signature"/>
            <xs:element ref="saml:Subject"/>
            <xs:element ref="saml:Conditions"/>
            <xs:element ref="saml:Advice"/>
            <xs:element ref="saml:Statement"/>
            <xs:element ref="saml:AuthnStatement"/>
            <xs:element ref="saml:AuthzDecisionStatement"/>
            <xs:element ref="saml:AttributeStatement"/>
        </xs:choice>
        <xs:attribute name="Version" type="xs:string" use="required"/>
		<!--  Note: ID made optional and id allowed in order to allow dgws-assertions -->
        <xs:attribute name="ID" type="xs:ID" use="optional"/>
        <xs:attribute name="id_renamed" type="xs:NCName" use="optional"/>
        <xs:attribute name="IssueInstant" type="xs:dateTime" use="required"/>
    </xs:complexType>
    <xs:element name="Subject" type="saml:SubjectType"/>
    <xs:complexType name="SubjectType">
        <xs:choice>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="saml:BaseID"/>
                    <xs:element ref="saml:NameID"/>
                    <xs:element ref="saml:EncryptedID"/>
                </xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="saml:SubjectConfirmation"/>
            </xs:sequence>
            <xs:element maxOccurs="unbounded" ref="saml:SubjectConfirmation"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="SubjectConfirmation" type="saml:SubjectConfirmationType"/>
    <xs:complexType name="SubjectConfirmationType">
        <xs:sequence>
            <xs:choice minOccurs="0">
                <xs:element ref="saml:BaseID"/>
                <xs:element ref="saml:NameID"/>
                <xs:element ref="saml:EncryptedID"/>
            </xs:choice>
            <!-- Note: Added optional ConfirmationMethod in order to allow dgws assertions -->
			<xs:element minOccurs="0" ref="saml:ConfirmationMethod"/>
            <xs:element minOccurs="0" ref="saml:SubjectConfirmationData"/>
        </xs:sequence>
        <!-- Note: Method attribute made optional in order to allow dgws assertions -->
        <xs:attribute name="Method" type="xs:anyURI" use="optional"/>
    </xs:complexType>
	<xs:element name="ConfirmationMethod">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="urn:oasis:names:tc:SAML:2.0:cm:holder-of-key"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
    <xs:element name="SubjectConfirmationData" type="saml:SubjectConfirmationDataType"/>
    <xs:complexType mixed="true" name="SubjectConfirmationDataType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="NotBefore" type="xs:dateTime" use="optional"/>
                <xs:attribute name="NotOnOrAfter" type="xs:dateTime" use="optional"/>
                <xs:attribute name="Recipient" type="xs:anyURI" use="optional"/>
                <xs:attribute name="InResponseTo" type="xs:NCName" use="optional"/>
                <xs:attribute name="Address" type="xs:string" use="optional"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType mixed="false" name="KeyInfoConfirmationDataType">
        <xs:complexContent>
            <xs:restriction base="saml:SubjectConfirmationDataType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="ds:KeyInfo"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Conditions" type="saml:ConditionsType"/>
    <xs:complexType name="ConditionsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="saml:Condition"/>
            <xs:element ref="saml:AudienceRestriction"/>
            <xs:element ref="saml:OneTimeUse"/>
            <xs:element ref="saml:ProxyRestriction"/>
        </xs:choice>
        <xs:attribute name="NotBefore" type="xs:dateTime" use="optional"/>
        <xs:attribute name="NotOnOrAfter" type="xs:dateTime" use="optional"/>
    </xs:complexType>
    <xs:element name="Condition" type="saml:ConditionAbstractType"/>
    <xs:complexType abstract="true" name="ConditionAbstractType"/>
    <xs:element name="AudienceRestriction" type="saml:AudienceRestrictionType"/>
    <xs:complexType name="AudienceRestrictionType">
        <xs:complexContent>
            <xs:extension base="saml:ConditionAbstractType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="saml:Audience"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Audience" type="xs:anyURI"/>
    <xs:element name="OneTimeUse" type="saml:OneTimeUseType"/>
    <xs:complexType name="OneTimeUseType">
        <xs:complexContent>
            <xs:extension base="saml:ConditionAbstractType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ProxyRestriction" type="saml:ProxyRestrictionType"/>
    <xs:complexType name="ProxyRestrictionType">
        <xs:complexContent>
            <xs:extension base="saml:ConditionAbstractType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="saml:Audience"/>
                </xs:sequence>
                <xs:attribute name="Count" type="xs:nonNegativeInteger" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Advice" type="saml:AdviceType"/>
    <xs:complexType name="AdviceType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="saml:AssertionIDRef"/>
            <xs:element ref="saml:AssertionURIRef"/>
            <xs:element ref="saml:Assertion"/>
            <xs:element ref="saml:EncryptedAssertion"/>
            <xs:any namespace="##other" processContents="lax"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="EncryptedAssertion" type="saml:EncryptedElementType"/>
    <xs:element name="Statement" type="saml:StatementAbstractType"/>
    <xs:complexType abstract="true" name="StatementAbstractType"/>
    <xs:element name="AuthnStatement" type="saml:AuthnStatementType"/>
    <xs:complexType name="AuthnStatementType">
        <xs:complexContent>
            <xs:extension base="saml:StatementAbstractType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="saml:SubjectLocality"/>
                    <xs:element ref="saml:AuthnContext"/>
                </xs:sequence>
                <xs:attribute name="AuthnInstant" type="xs:dateTime" use="required"/>
                <xs:attribute name="SessionIndex" type="xs:string" use="optional"/>
                <xs:attribute name="SessionNotOnOrAfter" type="xs:dateTime" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SubjectLocality" type="saml:SubjectLocalityType"/>
    <xs:complexType name="SubjectLocalityType">
        <xs:attribute name="Address" type="xs:string" use="optional"/>
        <xs:attribute name="DNSName" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:element name="AuthnContext" type="saml:AuthnContextType"/>
    <xs:complexType name="AuthnContextType">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="saml:AuthnContextClassRef"/>
                    <xs:choice minOccurs="0">
                        <xs:element ref="saml:AuthnContextDecl"/>
                        <xs:element ref="saml:AuthnContextDeclRef"/>
                    </xs:choice>
                </xs:sequence>
                <xs:choice>
                    <xs:element ref="saml:AuthnContextDecl"/>
                    <xs:element ref="saml:AuthnContextDeclRef"/>
                </xs:choice>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="saml:AuthenticatingAuthority"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AuthnContextClassRef" type="xs:anyURI"/>
    <xs:element name="AuthnContextDeclRef" type="xs:anyURI"/>
    <xs:element name="AuthnContextDecl" type="xs:anyType"/>
    <xs:element name="AuthenticatingAuthority" type="xs:anyURI"/>
    <xs:element name="AuthzDecisionStatement" type="saml:AuthzDecisionStatementType"/>
    <xs:complexType name="AuthzDecisionStatementType">
        <xs:complexContent>
            <xs:extension base="saml:StatementAbstractType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="saml:Action"/>
                    <xs:element minOccurs="0" ref="saml:Evidence"/>
                </xs:sequence>
                <xs:attribute name="Resource" type="xs:anyURI" use="required"/>
                <xs:attribute name="Decision" type="saml:DecisionType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DecisionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Permit"/>
            <xs:enumeration value="Deny"/>
            <xs:enumeration value="Indeterminate"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Action" type="saml:ActionType"/>
    <xs:complexType name="ActionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Namespace" type="xs:anyURI" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Evidence" type="saml:EvidenceType"/>
    <xs:complexType name="EvidenceType">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="saml:AssertionIDRef"/>
            <xs:element ref="saml:AssertionURIRef"/>
            <xs:element ref="saml:Assertion"/>
            <xs:element ref="saml:EncryptedAssertion"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="AttributeStatement" type="saml:AttributeStatementType"/>
    <xs:complexType name="AttributeStatementType">
        <xs:complexContent>
            <xs:extension base="saml:StatementAbstractType">
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="saml:Attribute"/>
                    <xs:element ref="saml:EncryptedAttribute"/>
                </xs:choice>
                <!-- Note: Optional id attribute added in order to allow dgws assertions -->
				<xs:attribute name="id" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:NCName">
							<xs:enumeration value="IDCardData"/>
							<xs:enumeration value="UserLog"/>
							<xs:enumeration value="SystemLog"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Attribute" type="saml:AttributeType"/>
    <xs:complexType name="AttributeType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="saml:AttributeValue"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="NameFormat" type="xs:anyURI" use="optional"/>
        <xs:attribute name="FriendlyName" type="xs:string" use="optional"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:element name="AttributeValue" nillable="true" type="xs:anyType"/>
    <xs:element name="EncryptedAttribute" type="saml:EncryptedElementType"/>
</xs:schema>
    <xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/04/xmlenc#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"/>

  

  <xs:complexType abstract="true" name="EncryptedType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EncryptionMethod" type="xenc:EncryptionMethodType"/>
      <xs:element minOccurs="0" ref="ds:KeyInfo"/>
      <xs:element ref="xenc:CipherData"/>
      <xs:element minOccurs="0" ref="xenc:EncryptionProperties"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional"/>
    <xs:attribute name="Type" type="xs:anyURI" use="optional"/>
    <xs:attribute name="MimeType" type="xs:string" use="optional"/>
    <xs:attribute name="Encoding" type="xs:anyURI" use="optional"/>
  </xs:complexType>
  
  <xs:complexType mixed="true" name="EncryptionMethodType">
    <xs:sequence>
      <xs:element minOccurs="0" name="KeySize" type="xenc:KeySizeType"/>
      <xs:element minOccurs="0" name="OAEPparams" type="xs:base64Binary"/>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
  </xs:complexType>

    <xs:simpleType name="KeySizeType">
      <xs:restriction base="xs:integer"/>
    </xs:simpleType>

  <xs:element name="CipherData" type="xenc:CipherDataType"/>
  <xs:complexType name="CipherDataType">
     <xs:choice>
       <xs:element name="CipherValue" type="xs:base64Binary"/>
       <xs:element ref="xenc:CipherReference"/>
     </xs:choice>
    </xs:complexType>

   <xs:element name="CipherReference" type="xenc:CipherReferenceType"/>
   <xs:complexType name="CipherReferenceType">
       <xs:choice>
         <xs:element minOccurs="0" name="Transforms" type="xenc:TransformsType"/>
       </xs:choice>
       <xs:attribute name="URI" type="xs:anyURI" use="required"/>
   </xs:complexType>

     <xs:complexType name="TransformsType">
       <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="ds:Transform"/>
       </xs:sequence>
     </xs:complexType>


  <xs:element name="EncryptedData" type="xenc:EncryptedDataType"/>
  <xs:complexType name="EncryptedDataType">
    <xs:complexContent>
      <xs:extension base="xenc:EncryptedType">
       </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Children of ds:KeyInfo -->

  <xs:element name="EncryptedKey" type="xenc:EncryptedKeyType"/>
  <xs:complexType name="EncryptedKeyType">
    <xs:complexContent>
      <xs:extension base="xenc:EncryptedType">
        <xs:sequence>
          <xs:element minOccurs="0" ref="xenc:ReferenceList"/>
          <xs:element minOccurs="0" name="CarriedKeyName" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Recipient" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

    <xs:element name="AgreementMethod" type="xenc:AgreementMethodType"/>
    <xs:complexType mixed="true" name="AgreementMethodType">
      <xs:sequence>
        <xs:element minOccurs="0" name="KA-Nonce" type="xs:base64Binary"/>
        <!-- <element ref="ds:DigestMethod" minOccurs="0"/> -->
        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
        <xs:element minOccurs="0" name="OriginatorKeyInfo" type="ds:KeyInfoType"/>
        <xs:element minOccurs="0" name="RecipientKeyInfo" type="ds:KeyInfoType"/>
      </xs:sequence>
      <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
    </xs:complexType>

  <!-- End Children of ds:KeyInfo -->

  <xs:element name="ReferenceList">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element name="DataReference" type="xenc:ReferenceType"/>
        <xs:element name="KeyReference" type="xenc:ReferenceType"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ReferenceType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
    </xs:sequence>
    <xs:attribute name="URI" type="xs:anyURI" use="required"/>
  </xs:complexType>


  <xs:element name="EncryptionProperties" type="xenc:EncryptionPropertiesType"/>
  <xs:complexType name="EncryptionPropertiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="xenc:EncryptionProperty"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:ID" use="optional"/>
  </xs:complexType>

    <xs:element name="EncryptionProperty" type="xenc:EncryptionPropertyType"/>
    <xs:complexType mixed="true" name="EncryptionPropertyType">
      <xs:choice maxOccurs="unbounded">
        <xs:any namespace="##other" processContents="lax"/>
      </xs:choice>
      <xs:attribute name="Target" type="xs:anyURI" use="optional"/>
      <xs:attribute name="Id" type="xs:ID" use="optional"/>
      <xs:anyAttribute namespace="http://www.w3.org/XML/1998/namespace"/>
    </xs:complexType>

</xs:schema>
    <xs:schema xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/" xmlns:cvr="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nsi.dk/bemyndigelse/2017/08/01/">
      <xs:import namespace="http://rep.oio.dk/cvr.dk/xml/schemas/2005/03/22/"/>
      <xs:import namespace="http://rep.oio.dk/cpr.dk/xml/schemas/core/2005/03/18/"/>

    
    

    <xs:complexType name="Delegation">
        <xs:sequence>
            <xs:element name="DelegationId" type="bms20170801:DelegationId"/>
            <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
            <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
            <xs:element minOccurs="0" name="DelegateeCvr" type="cvr:CVRnumberIdentifierType"/>
            <xs:element name="System" type="bms20170801:DelegatingSystem"/>
            <xs:element name="Role" type="bms20170801:DelegatingRole"/>
            <xs:element name="State" type="bms20170801:State"/>
            <xs:element maxOccurs="unbounded" name="Permission" type="bms20170801:SystemPermission"/>
            <xs:element name="Created" type="bms20170801:CreatedDateTime"/>
            <xs:element name="EffectiveFrom" type="bms20170801:EffectiveFromDateTime"/>
            <xs:element name="EffectiveTo" type="bms20170801:EffectiveToDateTime"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NotDelegatedPermission" type="bms20170801:SystemPermission"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndelegatablePermission" type="bms20170801:SystemPermission"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DelegatingSystem">
        <xs:sequence>
            <xs:element name="SystemId" type="bms20170801:SystemId"/>
            <xs:element name="SystemLongName" type="bms20170801:SystemLongName"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DelegatingRole">
        <xs:sequence>
            <xs:element name="RoleId" type="bms20170801:RoleId"/>
            <xs:element name="RoleDescription" type="bms20170801:RoleDescription"/>
            <xs:element name="EducationCodes" minOccurs="0" maxOccurs="1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element minOccurs="1" maxOccurs="unbounded" name="EducationCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DelegatablePermissions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="PermissionId" type="bms20170801:PermissionId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndelegatablePermissions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element maxOccurs="unbounded" minOccurs="1" name="PermissionId" type="bms20170801:PermissionId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SystemPermission">
        <xs:sequence>
            <xs:element name="PermissionId" type="bms20170801:PermissionId"/>
            <xs:element name="PermissionDescription" type="bms20170801:PermissionDescription"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DelegationId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SystemId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SystemLongName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RoleId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RoleDescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PermissionId" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PermissionDescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="State" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:enumeration value="Anmodet"/>
            <xs:enumeration value="Godkendt"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CreatedDateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:dateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minInclusive value="2000-01-01T00:00:00Z"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EffectiveFromDateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:dateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minInclusive value="2000-01-01T00:00:00Z"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EffectiveToDateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:restriction base="xs:dateTime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:minInclusive value="2000-01-01T00:00:00Z"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="PutMetadataRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Domain" type="bms20170801:Domain"/>
                <xs:element name="SystemId" type="bms20170801:SystemId"/>
                <xs:element name="SystemLongName" type="bms20170801:SystemLongName"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Permission" type="bms20170801:SystemPermission"/>
                <xs:element name="EnableAsteriskPermission" type="xs:boolean"/>
                <xs:element maxOccurs="unbounded" name="Role" type="bms20170801:DelegatingRole"/>
                <xs:element name="DryRun" minOccurs="0" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PutMetadataResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence>
                <xs:element name="Result" minOccurs="0" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetMetadataRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="Domain" type="bms20170801:Domain"/>
                <xs:element name="SystemId" type="bms20170801:SystemId"/>
                <xs:element name="IncludeEducationCodes" type="xs:boolean" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetMetadataResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="Domain" type="bms20170801:Domain"/>
                <xs:element name="System" type="bms20170801:DelegatingSystem"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Permission" type="bms20170801:SystemPermission"/>
                <xs:element name="EnableAsteriskPermission" type="xs:boolean"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Role" type="bms20170801:DelegatingRole"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllMetadataRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="Domain" type="bms20170801:Domain"/>
                <xs:element name="IncludeEducationCodes" type="xs:boolean" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllMetadataResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="Domain" type="bms20170801:Domain"/>
                <xs:element maxOccurs="unbounded" name="Metadata">
                    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:element name="System" type="bms20170801:DelegatingSystem"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Permission" type="bms20170801:SystemPermission"/>
                            <xs:element name="EnableAsteriskPermission" type="xs:boolean"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="Role" type="bms20170801:DelegatingRole"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateDelegationsRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element maxOccurs="10" minOccurs="1" name="Create" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:all xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                            <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                            <xs:element minOccurs="0" name="DelegateeCvr" type="cvr:CVRnumberIdentifierType" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                            <xs:element name="SystemId" type="bms20170801:SystemId"/>
                            <xs:element name="RoleId" type="bms20170801:RoleId"/>
                            <xs:element name="State" type="bms20170801:State"/>
                            <xs:element name="ListOfPermissionIds" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                        <xs:element maxOccurs="unbounded" minOccurs="1" name="PermissionId" type="bms20170801:PermissionId"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="1" minOccurs="0" name="EffectiveFrom" type="bms20170801:EffectiveFromDateTime"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="EffectiveTo" type="bms20170801:EffectiveToDateTime"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateDelegationsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element maxOccurs="unbounded" name="Delegation" type="bms20170801:Delegation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetDelegationsRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence>
                <xs:choice xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                    <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                    <xs:element name="DelegationId" type="bms20170801:DelegationId"/>
                </xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="EffectiveFrom" type="bms20170801:EffectiveFromDateTime"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EffectiveTo" type="bms20170801:EffectiveToDateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetDelegationsResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Delegation" type="bms20170801:Delegation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteDelegationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:choice xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                    <xs:element name="DelegateeCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                </xs:choice>
                <xs:element name="ListOfDelegationIds" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="DelegationId" type="bms20170801:DelegationId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="DeletionDate" type="bms20170801:EffectiveToDateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteDelegationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="DelegationId" type="bms20170801:DelegationId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetExpirationInfoRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                <xs:element name="Days" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetExpirationInfoResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="DelegatorCpr" type="cpr:PersonCivilRegistrationIdentifierType"/>
                <xs:element name="DelegationCount" type="xs:int"/>
                <xs:element name="DelegateeCount" type="xs:int"/>
                <xs:element name="DaysToFirstExpiration" type="xs:int"/>
                <xs:element name="FirstExpiryDelegationCount" type="xs:int"/>
                <xs:element name="FirstExpiryDelegateeCount" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    <xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
      <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
	
	
	<xs:complexType name="AttributedString">
		<xs:annotation>
			<xs:documentation>This type represents an element with arbitrary attributes.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="wsu:Id"/>
				<xs:anyAttribute namespace="##other" processContents="lax"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PasswordString">
		<xs:annotation>
			<xs:documentation>This type is used for password elements per Section 4.1.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="wsse:AttributedString">
				<xs:attribute name="Type" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EncodedString">
		<xs:annotation>
			<xs:documentation>This type is used for elements containing stringified binary data.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="wsse:AttributedString">
				<xs:attribute name="EncodingType" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UsernameTokenType">
		<xs:annotation>
			<xs:documentation>This type represents a username token per Section 4.1</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Username" type="wsse:AttributedString"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
		<xs:attribute ref="wsu:Id"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="BinarySecurityTokenType">
		<xs:annotation>
			<xs:documentation>A security token that is encoded in binary</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="wsse:EncodedString">
				<xs:attribute name="ValueType" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KeyIdentifierType">
		<xs:annotation>
			<xs:documentation>A security token key identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="wsse:EncodedString">
				<xs:attribute name="ValueType" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="tUsage">
		<xs:annotation>
			<xs:documentation>Typedef to allow a list of usages (as URIs).</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:anyURI"/>
	</xs:simpleType>
	<xs:attribute name="Usage" type="wsse:tUsage">
		<xs:annotation>
			<xs:documentation>This global attribute is used to indicate the usage of a referenced or indicated token within the containing context</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:complexType name="ReferenceType">
		<xs:annotation>
			<xs:documentation>This type represents a reference to an external security token.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="URI" type="xs:anyURI"/>
		<xs:attribute name="ValueType" type="xs:anyURI"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="EmbeddedType">
		<xs:annotation>
			<xs:documentation>This type represents a reference to an embedded security token.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:any processContents="lax"/>
		</xs:choice>
		<xs:attribute name="ValueType" type="xs:anyURI"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="SecurityTokenReferenceType">
		<xs:annotation>
			<xs:documentation>This type is used reference a security token.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:any processContents="lax"/>
		</xs:choice>
		<xs:attribute ref="wsu:Id"/>
		<xs:attribute ref="wsse:Usage"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="SecurityHeaderType">
		<xs:annotation>
			<xs:documentation>This complexType defines header block to use for security-relevant data directed at a specific SOAP actor.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax">
				<xs:annotation>
					<xs:documentation>The use of "any" is to allow extensibility and different forms of security data.</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
		<!-- Note: Allowing attribute from any namespace to allow dgws requests -->
		<!-- xsd:anyAttribute namespace="##other" processContents="lax"/-->
		<xs:anyAttribute namespace="##any" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="TransformationParametersType">
		<xs:annotation>
			<xs:documentation>This complexType defines a container for elements to be specified from any namespace as properties/parameters of a DSIG transformation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax">
				<xs:annotation>
					<xs:documentation>The use of "any" is to allow extensibility from any namespace.</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:element name="UsernameToken" type="wsse:UsernameTokenType">
		<xs:annotation>
			<xs:documentation>This element defines the wsse:UsernameToken element per Section 4.1.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BinarySecurityToken" type="wsse:BinarySecurityTokenType">
		<xs:annotation>
			<xs:documentation>This element defines the wsse:BinarySecurityToken element per Section 4.2.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Reference" type="wsse:ReferenceType">
		<xs:annotation>
			<xs:documentation>This element defines a security token reference</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Embedded" type="wsse:EmbeddedType">
		<xs:annotation>
			<xs:documentation>This element defines a security token embedded reference</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="KeyIdentifier" type="wsse:KeyIdentifierType">
		<xs:annotation>
			<xs:documentation>This element defines a key identifier reference</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SecurityTokenReference" type="wsse:SecurityTokenReferenceType">
		<xs:annotation>
			<xs:documentation>This element defines the wsse:SecurityTokenReference per Section 4.3.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Security" type="wsse:SecurityHeaderType">
		<xs:annotation>
			<xs:documentation>This element defines the wsse:Security SOAP header element per Section 4.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TransformationParameters" type="wsse:TransformationParametersType">
		<xs:annotation>
			<xs:documentation>This element contains properties for transformations from any namespace, including DSIG.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Password" type="wsse:PasswordString"/>
	<xs:element name="Nonce" type="wsse:EncodedString"/>
	<xs:simpleType name="FaultcodeEnum">
		<xs:restriction base="xs:QName">
			<xs:enumeration value="wsse:UnsupportedSecurityToken"/>
			<xs:enumeration value="wsse:UnsupportedAlgorithm"/>
			<xs:enumeration value="wsse:InvalidSecurity"/>
			<xs:enumeration value="wsse:InvalidSecurityToken"/>
			<xs:enumeration value="wsse:FailedAuthentication"/>
			<xs:enumeration value="wsse:FailedCheck"/>
			<xs:enumeration value="wsse:SecurityTokenUnavailable"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
  </wsdl:types>

    <wsdl:message name="SecurityHeader">
        <wsdl:part element="wsse:Security" name="SecurityHeader"/>
    </wsdl:message>

    <wsdl:message name="MedComHeader">
        <wsdl:part element="medcom:Header" name="MedcomHeader"/>
    </wsdl:message>

	<wsdl:message name="PutMetadataRequest_2017_08_01">
		<wsdl:part element="bms20170801:PutMetadataRequest" name="PutMetadataRequest"/>
	</wsdl:message>
	<wsdl:message name="PutMetadataResponse_2017_08_01">
		<wsdl:part element="bms20170801:PutMetadataResponse" name="PutMetadataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataRequest_2017_08_01">
		<wsdl:part element="bms20170801:GetMetadataRequest" name="GetMetadataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetMetadataResponse_2017_08_01">
		<wsdl:part element="bms20170801:GetMetadataResponse" name="GetMetadataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllMetadataRequest_2017_08_01">
		<wsdl:part element="bms20170801:GetAllMetadataRequest" name="GetAllMetadataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetAllMetadataResponse_2017_08_01">
		<wsdl:part element="bms20170801:GetAllMetadataResponse" name="GetAllMetadataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDelegationsRequest_2017_08_01">
		<wsdl:part element="bms20170801:GetDelegationsRequest" name="GetDelegationsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDelegationsResponse_2017_08_01">
		<wsdl:part element="bms20170801:GetDelegationsResponse" name="GetDelegationsResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateDelegationsRequest_2017_08_01">
		<wsdl:part element="bms20170801:CreateDelegationsRequest" name="CreateDelegationsRequest"/>
	</wsdl:message>
	<wsdl:message name="CreateDelegationsResponse_2017_08_01">
		<wsdl:part element="bms20170801:CreateDelegationsResponse" name="CreateDelegationsResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteDelegationsRequest_2017_08_01">
		<wsdl:part element="bms20170801:DeleteDelegationsRequest" name="DeleteDelegationsRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteDelegationsResponse_2017_08_01">
		<wsdl:part element="bms20170801:DeleteDelegationsResponse" name="DeleteDelegationsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetExpirationInfoRequest_2017_08_01">
		<wsdl:part element="bms20170801:GetExpirationInfoRequest" name="GetExpirationInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="GetExpirationInfoResponse_2017_08_01">
		<wsdl:part element="bms20170801:GetExpirationInfoResponse" name="GetExpirationInfoResponse"/>
	</wsdl:message>

	<wsdl:message name="DGWSFault">
		<wsdl:part element="medcom:FaultCode" name="fault"/>
	</wsdl:message>

	<wsdl:portType name="DelegationPortType">
		<wsdl:operation name="PutMetadata_2017_08_01">
			<wsdl:input message="tns:PutMetadataRequest_2017_08_01" name="PutMetadataRequest_2017_08_01"/>
			<wsdl:output message="tns:PutMetadataResponse_2017_08_01" name="PutMetadataResponse_2017_08_01"/>
			<wsdl:fault message="tns:DGWSFault" name="DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetMetadata_2017_08_01">
			<wsdl:input message="tns:GetMetadataRequest_2017_08_01" name="GetMetadataRequest_2017_08_01"/>
			<wsdl:output message="tns:GetMetadataResponse_2017_08_01" name="GetMetadataResponse_2017_08_01"/>
			<wsdl:fault message="tns:DGWSFault" name="DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetAllMetadata_2017_08_01">
			<wsdl:input message="tns:GetAllMetadataRequest_2017_08_01" name="GetAllMetadataRequest_2017_08_01"/>
			<wsdl:output message="tns:GetAllMetadataResponse_2017_08_01" name="GetAllMetadataResponse_2017_08_01"/>
			<wsdl:fault message="tns:DGWSFault" name="DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetDelegations_2017_08_01">
			<wsdl:input message="tns:GetDelegationsRequest_2017_08_01" name="GetDelegationsRequest_2017_08_01"/>
			<wsdl:output message="tns:GetDelegationsResponse_2017_08_01" name="GetDelegationsResponse_2017_08_01"/>
			<wsdl:fault message="tns:DGWSFault" name="DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="CreateDelegations_2017_08_01">
			<wsdl:input message="tns:CreateDelegationsRequest_2017_08_01" name="CreateDelegationsRequest_2017_08_01"/>
			<wsdl:output message="tns:CreateDelegationsResponse_2017_08_01" name="CreateDelegationsResponse_2017_08_01"/>
			<wsdl:fault message="tns:DGWSFault" name="DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteDelegations_2017_08_01">
			<wsdl:input message="tns:DeleteDelegationsRequest_2017_08_01" name="DeleteDelegationsRequest_2017_08_01"/>
			<wsdl:output message="tns:DeleteDelegationsResponse_2017_08_01" name="DeleteDelegationsResponse_2017_08_01"/>
			<wsdl:fault message="tns:DGWSFault" name="DGWSFault"/>
		</wsdl:operation>
		<wsdl:operation name="GetExpirationInfo_2017_08_01">
			<wsdl:input message="tns:GetExpirationInfoRequest_2017_08_01" name="GetExpirationInfoRequest_2017_08_01"/>
			<wsdl:output message="tns:GetExpirationInfoResponse_2017_08_01" name="GetExpirationInfoResponse_2017_08_01"/>
			<wsdl:fault message="tns:DGWSFault" name="DGWSFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DelegationBinding" type="tns:DelegationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="PutMetadata_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#PutMetadata" style="document"/>
			<wsdl:input name="PutMetadataRequest_2017_08_01">

                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="PutMetadataResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetMetadata_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#GetMetadata"/>
			<wsdl:input name="GetMetadataRequest_2017_08_01">

                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetMetadataResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetAllMetadata_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#GetAllMetadata"/>
			<wsdl:input name="GetAllMetadataRequest_2017_08_01">
				
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllMetadataResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetDelegations_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#GetDelegations"/>
			<wsdl:input name="GetDelegationsRequest_2017_08_01">

                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetDelegationsResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="CreateDelegations_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#CreateDelegations"/>
			<wsdl:input name="CreateDelegationsRequest_2017_08_01">

                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateDelegationsResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="DeleteDelegations_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#DeleteDelegations"/>
			<wsdl:input name="DeleteDelegationsRequest_2017_08_01">

                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="DeleteDelegationsResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="GetExpirationInfo_2017_08_01">
			<soap:operation soapAction="http://nsi.dk/bemyndigelse/2017/08/01#GetExpirationInfo"/>
			<wsdl:input name="GetExpirationInfoRequest_2017_08_01">
				
                <soap:header message="tns:SecurityHeader" part="SecurityHeader" use="literal"/>
                <soap:header message="tns:MedComHeader" part="MedcomHeader" use="literal"/>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetExpirationInfoResponse_2017_08_01">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DGWSFault">
				<soap:fault name="DGWSFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DelegationService">
		<wsdl:port binding="tns:DelegationBinding" name="DelegationPort">
			<soap:address location="http://localhost:8080/BemyndigelsesService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
