schemas/src/main/resources/wsdl/DumpRestore_2013_01_01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.ssi.dk/nsi/xml.schema/2013/01/01"
	targetNamespace="http://www.ssi.dk/nsi/xml.schema/2013/01/01">
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ssi.dk/nsi/xml.schema/2013/01/01" elementFormDefault="qualified">
			<include schemaLocation="../schema/2013/01/01/DumpRestore.xsd"/>
		</schema>
	</wsdl:types>
	
    <wsdl:message name="DumpPatientsRequest">
        <wsdl:part name="DumpPatientsRequest" element="tns:DumpPatientsRequest"/>
    </wsdl:message>

    <wsdl:message name="DumpPatientsResponse">
        <wsdl:part name="DumpPatientsResponse" element="tns:DumpPatientsResponse"/>
    </wsdl:message>

    <wsdl:message name="RestorePatientsRequest">
        <wsdl:part name="RestorePatientsRequest" element="tns:RestorePatientsRequest"/>
    </wsdl:message>
    <wsdl:message name="RestorePatientsResponse">
        <wsdl:part name="RestorePatientsResponse" element="tns:RestorePatientsResponse"/>
    </wsdl:message>

    <wsdl:message name="ResetPatientsRequest">
        <wsdl:part name="ResetPatientsRequest" element="tns:ResetPatientsRequest"/>
    </wsdl:message>
    <wsdl:message name="ResetPatientsResponse">
        <wsdl:part name="ResetPatientsResponse" element="tns:ResetPatientsResponse"/>
    </wsdl:message>
	
	<wsdl:portType name="DumpRestorePortType">
        <wsdl:operation name="DumpPatients">
            <soap:operation soapAction="http://www.dkma.dk/nsi/xml.schema/2013/01/01#DumpPatients" style="document"/>
            <wsdl:input name="DumpPatientsRequest" message="tns:DumpPatientsRequest"/>
            <wsdl:output name="DumpPatientsResponse" message="tns:DumpPatientsResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="RestorePatients">
            <soap:operation soapAction="http://www.dkma.dk/nsi/xml.schema/2013/01/01#RestorePatients" style="document"/>
            <wsdl:input name="RestorePatientsRequest" message="tns:RestorePatientsRequest"/>
            <wsdl:output name="RestorePatientsResponse" message="tns:RestorePatientsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="ResetPatients">
            <soap:operation soapAction="http://www.dkma.dk/nsi/xml.schema/2013/01/01#ResetPatients" style="document"/>
            <wsdl:input name="ResetPatientsRequest" message="tns:ResetPatientsRequest"/>
            <wsdl:output name="ResetPatientsResponse" message="tns:ResetPatientsResponse"/>
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DumpRestoreBinding" type="tns:DumpRestorePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="DumpPatients">
        	<soap:operation soapAction="http://www.ssi.dk/nsi/xml.schema/2013/01/01#DumpPatients" style="document"/>
            <wsdl:input name="DumpPatientsRequest"><soap:body use="literal"/></wsdl:input>
            <wsdl:output name="DumpPatientsResponse"><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>

		<wsdl:operation name="RestorePatients">
        	<soap:operation soapAction="http://www.ssi.dk/nsi/xml.schema/2013/01/01#RestorePatients" style="document"/>
            <wsdl:input name="RestorePatientsRequest"><soap:body use="literal"/></wsdl:input>
            <wsdl:output name="RestorePatientsResponse"><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>

		<wsdl:operation name="ResetPatients">
        	<soap:operation soapAction="http://www.ssi.dk/nsi/xml.schema/2013/01/01#ResetPatients" style="document"/>
            <wsdl:input name="ResetPatientsRequest"><soap:body use="literal"/></wsdl:input>
            <wsdl:output name="ResetPatientsResponse"><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="DumpRestore">
		<wsdl:port name="DumpRestorePort" binding="tns:DumpRestoreBinding">
			<soap:address location="http://nsi.dk/ws/DumpRestore"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
